<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('注文履歴',~{::link},~{::script})">
    <link rel="stylesheet" th:href="@{/css/order.css}">
</head>
<body>
    <div th:replace="common :: common_header"></div>
    <main>
        <h1>注文履歴</h1>
        <div th:if="${orders.isEmpty()}">
            <p class="noItem red">注文履歴がありません。</p>
        </div>
        <div th:unless="${orders.isEmpty()}">
            <div class="Item-container">
                <ul>
                    <li class="order-list" th:each="order : ${orders}">
                        <img th:src="${order.orderDetails.get(0).product.imageUrl1 != null ? order.orderDetails.get(0).product.imageUrl1 : '/images/noimage.jpg'}" alt="商品画像" width="100"/>
                        <div class="order-container">
                            <a th:href="@{/orders/{id}(id=${order.id})}" th:text="${order.orderDetails.size()>1 ? order.orderDetails.get(0).product.name + ' その他' + (order.orderDetails.size() - 1) + '点' : order.orderDetails.get(0).product.name}">商品名</a>
                            <p class="order-date">注文日 : <span th:text="${#temporals.format(order.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span></p>
                            <p class="order-number">注文番号 : <span th:text="${order.orderNumber}"></span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <p><a th:href="@{/mypage}" class="link">マイページへ戻る</a></p>
    </main>
    
    <div th:replace="common :: common_footer"></div>
    
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
