<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在庫管理</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <h1 class="management-table">在庫管理</h1>
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="product-name">名前</th>
                <th class="price">価格</th>
                <th class="stock">在庫数</th>
                <th class="operation">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></td>
                <td th:text="${product.stock}"></td>
                <td>
                    <a th:href="@{/admin/stocks/{id}(id=${product.id})}" class="btn btn-secondary">編集</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a th:href="@{/admin}" class="link">管理者ページへ戻る</a></p>
</body>
</html>
