<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('パスワード変更',~{::link},~{::script})">
    <link rel="stylesheet" th:href="@{/css/userForm.css}">
</head>
<body>
    <div th:replace="common :: common_header"></div>
    
    <main>
        <h1>パスワード変更</h1>
        
        <div class="Form-container" id="passForm">
            <div class="msg-box">
                <p th:errors="${user.password}" class="error-message red"></p>
                <p id="password_error" class="password_error red"></p>
            </div>
            <div class="Form">
                <form th:action="@{/users/profile/editPass}" method="post">
                    <div class="Form-Item">
                        <p class="Form-Item-Label">パスワード</p>
                        <input class="Form-Item-Input" type="password" id="password" name="password" required />
                        <div class="toggle-password">
                            <input type="checkbox" id="togglePassword">
                            <label for="togglePassword">パスワードを表示</label>
                        </div>
                        <p class="attension red">※ パスワードは8∼32文字で設定してください</p>
                        <p class="attension red">※ パスワードには大文字・小文字・数字をそれぞれ1つ以上含めてください</p>
                        
                        <p class="Form-Item-Label">パスワード(確認用)</p>
                        <input class="Form-Item-Input" type="password" id="confirmPassword" name="confirmPassword" required />
                        <div class="toggle-password">
                            <input type="checkbox" id="toggleConfirmPassword">
                            <label for="toggleConfirmPassword">パスワードを表示</label>
                        </div>
                    </div>
                    <div class="Button-Item">
                        <button type="submit" class="btn-submit">更新</button>
                    </div>
                </form>
            </div>
        </div>
        
        <p><a th:href="@{/users/profile}" class="link">プロフィールに戻る</a></p>
    </main>
    
    <div th:replace="common :: common_footer"></div>
    
    <script src="/js/passwordCheck.js"></script>
    <script src="/js/togglePassword.js"></script>
</body>
</html>
